@import "../../Theme/Theme.module.css";

.score{
    padding: .5rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 8px;
}

.scoreText{
    font-size: .8rem;
    color: var(--ScoreText);
    text-transform: uppercase;
}

.scoreCount{
    font-size: 2rem;
    color: var(--DarkText);
    font-weight: 700;
}

@media (min-width: 800px){
    .score{
        width: 6rem;
    }

    .scoreText{
        font-size: 1rem;
    }

    .scoreCount{
        font-size: 3rem;
    }
}