@import "./Theme/Theme.module.css";


@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("./assets/fonts/BarlowSemiCondensed-Bold.ttf");
  font-weight: 700;
}


@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("./assets/fonts/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    var(--backgroundColor1),
    var(--backgroundColor2)
  );
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
}